asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1652752042988/work
Django @ file:///D:/bld/django_1664983573929/work
django-crispy-forms==1.14.0
Pillow==9.2.0
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1663990453245/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1664247338807/work
